<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neesia.uasmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lihatfilm" />
        <activity android:name=".lihat" />
        <activity android:name=".editfilm" />
        <activity android:name=".tambahfilm" />
        <activity android:name=".datafilm" />
        <activity android:name=".MainActivity" />
        <activity android:name=".editactivity" />
        <activity android:name=".tambahactivity" />
        <activity android:name=".databuku" />
        <activity android:name=".uasmobile$databuku" />
        <activity android:name=".profil" />
        <activity android:name=".menu" />
        <activity android:name=".awal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>